.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1B4332;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 195, 174);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#jamna{
  background-color: #D4AF37;
  
}

#b{
  background-color: #db6b0e;
}

#bg{
  background-color: #db6b0e;
}

.product_image {
  width: 110%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.lol{
  background-color: #1B4332;
 text-align: center;
  color: rgb(250, 195, 174);
  
}


